@model NewBookish.Models.Entities.Book

<form asp-action="EditBook" method="post" id="editForm_@Model.Id">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" />
    <div style="display: flex; gap: 10px;">
        <input type="text" name="Title" value="@Model.Title" placeholder="Title" class="form-control" />
        <input type="text" name="Author" value="@Model.Author" placeholder="Author" class="form-control" />
        <input type="text" name="NoOfCopies" value="@Model.NoOfCopies" placeholder="No. of Copies" class="form-control" />
        <input type="text" name="AvailableCopies" value="@Model.AvailableCopies" placeholder="Available Copies" class="form-control" />
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-secondary cancel-edit-btn" data-id="@Model.Id">Cancel</button>
    </div>
</form>
